<span>
  <span class="button_to_change_notifying"
      data-controller="notifications" data-notifications-subscriptions-url-value="<%= user_push_subscriptions_path %>" data-notifications-attention-class="btn--pulsing">
    <%= turbo_frame_tag dom_id(room, :involvement), data: {
          controller: "turbo-frame", action: "notifications:ready@window->turbo-frame#load", turbo_frame_url_param: room_involvement_path(room) } do %>
      <button class="btn" data-action="click->notifications#attemptToSubscribe" data-notifications-target="bell">
        <%= image_tag "notification-bell-loading.svg", size: 20, aria: { hidden: "true" } %>
        <%= image_tag "notification-bell-alert.svg", size: 20, aria: { hidden: "true" }, hidden: true %>
        <span class="for-screen-reader">Notification settings for this <%= room.direct? ? "Ping" : "room" %></span>
      </button>
    <% end %>

    <dialog data-notifications-target="notAllowedNotice" class="dialog pad center center-block border-radius border shadow" style="--inline-space: var(--block-space)">
      <div class="flex flex-column txt-align-center">
        <span class="btn btn--faux center txt-x-large">
          <%= image_tag "notification-bell-alert.svg", size: 48, aria: { hidden: "true" } %>
          <span class="for-screen-reader">Notifications alert</span>
        </span>

        <section>
          <h1 class="txt-large margin-none">Notifications aren’t allowed</h1>
          <div class="txt-align-start margin-block-start">
            <%= render partial: "pwa/browser_settings" %>
            <%= render partial: "pwa/system_settings" %>
            <%= render partial: "pwa/install_instructions" %>
          </div>
        </section>

        <form method="dialog" class="flex align-center gap center">
          <button class="btn dialog__close" autofocus="true">
            <span class="for-screen-reader">Close</span>
            <%= image_tag "remove.svg", size: 20, aria: { hidden: "true" } %>
          </button>
        </form>
      </div>
    </dialog>
  </span>
</span>
