<% @page_title = "Chat bots" %>

<% content_for :nav do %>
  <div class="flex-item-justify-start">
    <%= link_back_to edit_account_path %>
  </div>
<% end %>

<section class="panel panel--wide txt-align-center flex flex-column position-relative" style="view-transition-name: chat-bots">
  <div class="flex align-center gap">
    <div class="panel__button">
      <%= translation_button(:chat_bots) %>
    </div>
    <div class="pad-inline-double center">
      <h1 class="margin-none">Chat bots</h1>
      <p class="margin-none-block-start">With Chat bots, other sites and services can post updates directly to Campfire.</p>

      <%= link_to new_account_bot_path, class: "btn btn--reversed txt-large", aria: { label: "Add a chat bot" } do %>
        <%= image_tag "bot.svg", aria: { hidden: "true" }, size: 20 %>
        <%= image_tag "add.svg", aria: { hidden: "true" }, size: 20 %>
      <% end %>
    </div>
  </div>

  <div class="pad-inline pad-block-start ">
    <menu class="flex flex-column gap margin-none pad">
      <%= render partial: "accounts/bots/bot", collection: @bots %>
    </menu>
  </div>
</section>
