<%= turbo_frame_tag message, :boosting do %>
  <div class="boosts flex flex-wrap align-center gap full-width" style="--column-gap: 0.4ch; --row-gap: 0"
      data-controller="turbo-streaming" data-action="turbo:submit-start->turbo-streaming#unsubscribe">
    <div class="flex-inline flex-wrap gap" id="<%= dom_id(message, :boosts) %>" data-turbo-streaming-target="container">
      <%= render partial: "messages/boosts/boost", collection: message.boosts.ordered, cached: true %>
    </div>

    <%= turbo_frame_tag message, :new_boost do %>
      <div class="flex-inline message__boost-inline" data-controller="soft-keyboard">
        <%= link_to new_message_boost_path(message), class: "boost__action txt-small btn", action: "soft-keyboard#open" do %>
          <%= image_tag "boost.svg", size: 20, aria: { hidden: "true" } %>
          <span class="for-screen-reader">Add a boost</span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
